body {
    font-size: 15pt;
    padding: 0px;
    align-items: center;
    text-align: center;
    background-color: #C2C7FF;
}

img{
  width: 150px;
  height: 150px;
  position: center;
  align-items: center;
}
.ini{
  align-items: center;
  background-color: #6672F4;
  padding: 0%;
  width: auto;
  height: 100px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #00032354;
}

h1{
  font-family: sans-serif;
}
p{
  font-weight: bold;
  color: #0A1060;
}
.p{
  font-family: bold;
  color: #474EA1;
}
.final{
  background-color:#5A5E8F;
  border-radius: 23px;
  font-family: bold;
}
de{
  font-style: bold;
  color: #86D1D6;
  
}
e{
  font-style: bold;
  color: #86D1D6;
  
}

c{
  font-style: bold;
  color: #4B8F94;
  
}