body {
    font-size: 15pt;
    padding: 0px;
    align-items: center;
    text-align: center;
    background-color: #DBBEDC;
}

img{
  width: 150px;
  height: 150px;
 
  
}
.ini{
  align-items: center;
  background-color: #9D9ABA;
  padding: 0%;
  width: auto;
  height: 150px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #69486A69;
}

h1{
  font-family: sans-serif;
  color:#F7EBFF;
}
p{
  font-weight: bold;
  color: #0A1060;
}

.p{
  font-family: bold;
  color: #8C6B9F;
}

.final{
  background-color:#924E8C;
  border-radius: 23px;
  font-family: bold;
}
de{
  font-style: bold;
  color: #C679BF;
  
}
e{
  font-style: bold;
  color: #AB78F3;
  
}

c{
  font-style: bold;
  color: #4B8F94;
  
}
